---
apiVersion: v1
kind: Secret
metadata:
  name: postgres
  labels:
    app: postgres
stringData:
  PGUSER: vikunja
  PGDB: vikunja
  POSTGRES_DB: vikunja
  POSTGRES_USER: vikunja
  POSTGRES_PASSWORD: SuperSecurePassword # Normally shouldn't be stored in plain text in the repository, kubeseal?